.divBackGround
{
  background-color:gray;
  width:720px;
  height:522px;
  margin: 25px auto;"
}
.row
{
  height:129px;
}
img
{
  heigt:100%;
  width:100%;
}

.col-sm-3{border:solid;}
.infoColumn{background-color:blue;}
.logo{background-color:#CC00FF;}